body {
}

.runeTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 10rem;
    height: 10rem;
}

.background {
    margin-top: 5rem;
    left: 0;
}

.grid {
    background-color: whitesmoke;
}
