.channel-container {
    display: flex;
    flex-direction: row;
}

.channel-icon {
    font-size: 1.3rem;
    color: rgba(245, 245, 245, 0.54);
}

.add-remove-button-container {
    display: flex;
    flex-direction: row;
}

.menu-item {
    color: whitesmoke;
}

.menu-item-del {
    color: #dc4747;
}

.remove-actions {
    display: flex;
    flex-direction: column;
}