.friend-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    margin-left: 1rem;
    width: 95%;
}

.friend-username {
    margin-left: 1rem;
    color: whitesmoke;
    text-transform: none;
}

.divider {
    background-color: #2f3436;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.friend-button {
    margin-left: auto;
}

.friend-button:hover {
    color: #494e50;
}

.friend-button-icon {
    color: whitesmoke;
}

.approve-button:hover {
    color: #13a113;
}

.clear-button:hover {
    color: #c40000;
}

.approve-icon {
    color: #13a113;
}

.clear-icon {
    color: #c40000;
}

.request-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
}

.action-container {
    margin-left: auto;
}

.text {
    color: #a4a4a4;
}